/* You can add global styles to this file, and also import other style files */
body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button{
   padding: 0.6rem 5rem;
   background-color: rgb(22, 22, 134);
   border-radius: 8px;
   border: none;
   font-size: larger;
   color: white;
   display: block; 
   margin: 0 auto;
}